@use '../global' as g;
.beerHeader{
    background-color:g.$pale1 ;
    padding-block: 4rem;
    
    &__heading{
        color: g.$txtColblack;
        font-size: 2.25rem;
        text-transform: uppercase;
        font-weight: 800;
        text-align: center;
        margin-bottom: 00.5rem;
        @include g.tablet{
            font-size: 4.5rem;
        }
    }
    &__txt{
        text-align: center;
        color: g.$txtColblack;
        font-weight: 700;
        margin-bottom: 1.5rem;
        @include g.tablet{
            margin-bottom: 3rem;
        }
    }
    &__image{
    width: 50%;
        opacity: 0.6;
        transition: all 250ms;
        @include g.tablet{
            width: 100%;
        }
        &:hover{
            opacity: 1;
        }
    }
    &__display{
       
        display: grid;
        grid-template-columns:1fr;
        justify-items: center;
      gap: 3rem;
        @include g.tablet{
            grid-template-columns: repeat(5,1fr);
           }
    }
}

.beerMain{
    font-family: "Poppins",sans-serif;
    opacity: 1;
    background:url(../../images/bg-beers.jpg) repeat center bottom #f5f2ed;
    color:g.$txtColblack;
    width: 100%;
    &__container{
        padding-block: 1.5rem 3rem;
        @include g.tablet{
            padding-block: 3rem;
        }
    }
    &__txt{
        text-align: center;
        color: g.$txtColGray2;
        font-weight: 700;
        margin-bottom: 1.2rem;
         }
    &__heading{
        font-size: 1.5rem;
        text-align: center;
        text-transform: uppercase;
        font-weight: 900;
        margin-bottom: 2.25rem;
        @include g.tablet{
            font-size: 3rem;
        }
    }
    &__column{
        margin-bottom: 2rem;
        div{
            display: grid;
            grid-template-columns: 1fr;
            gap: 3rem;
            @include g.tablet{
                grid-template-columns: repeat(2,1fr);
            }

        }
    }
    &__para{
        font-weight: 700;
       @include g.tablet{
        padding-inline: 2.5rem;
       }
    }
}